{% extends 'base.html'%}
{% import 'macros.html' as macro %}


{% block content %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if user.bio %}
      <p> {{user.bio}}</p>
    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}
  </div>

  <!--Display profile photo-->
  <div class="col-md-4">

    {% if user.profile_pic_path %}
    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
    {%else%}
    <p>No profile picture</p>
    {% endif %}
    
    {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <input type="submit">
    </form>
      {% endif %}
<br>
       <div>
  {% if user == current_user %}
    <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
    {% endif %}
    </div>

  </div>
 
    <h2 class='text-primary text-center'>Your Pitches</h2>
  <div class="row">
    {% for items in pitches %}
    <div class="col-sm-6">
      <ul class='list-unstyled '>
        <li class=style>
          <h3 class=text-primary>{{items.category}}</h3>
          <h4>{{items.pitch}}</h4>
        </li> <hr> <br>
        </ul>
    </div>

    {% endfor %}
</div>
</div>
{% endblock %}